body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d3d1;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  visibility: hidden;
  background-color: #fafaf9;
  border-radius: 10px;
  padding: 10px;
}

.location-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.location-container {
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.location-container:hover {
  background-color: #dadad5aa;
}

.city-name {
  height: 100%;
  grid-area: name;
  font-size: 18px;
}

.city-location {
  align-self: end;
  height: 100%;
  grid-area: location;
  font-size: 14px;
}

.city-lat {
  grid-area: lat;
  font-size: 14px;
  align-self: end;
}

.city-lon {
  grid-area: lon;
  font-size: 14px;
  align-self: start;
}

.location-container {
  height: 36px;
  display: grid;
  justify-items: stretch;
  gap: 4px;
  grid-template:
    "name . lat" 1fr
    "location . lon" 1fr / 1fr 1fr 1fr;
}

.weather-title {
  font-weight: bold;
  font-size: 28px;
}

.desc-wrap {
  display: grid;
  grid-template:
    "icon main" 8fr
    "icon detail" 7fr / 1fr 2fr;
}

.weather-icon {
  grid-area: icon;
  height: 75px;
  width: 75px;
  align-self: center;
}

.desc-main {
  grid-area: main;
  align-self: end;
  font-size: 24px;
}

.desc-detail {
  grid-area: detail;
  align-self: start;
  font-size: 14px;
}
