@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-title {
  font-size: 36px;
  color: white;
  align-self: flex-start;
  padding: 0 0 0 15px;
}

button {
  border: none;
  display: inline-block;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d3d1;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.bg-img {
  transition: opacity 1s linear;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 33%;
}

.content {
  color: rgb(255, 255, 255);
  width: 515px;
  box-sizing: border-box;
  visibility: hidden;
  background-color: #ffffff22;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(8px) invert(15%);
}

.location-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.location-container {
  animation: fadeIn 1s;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.location-container:hover {
  background-color: #dadad5aa;
}

.city-name {
  height: 100%;
  grid-area: name;
  font-size: 18px;
}

.city-location {
  align-self: end;
  height: 100%;
  grid-area: location;
  font-size: 14px;
}

.weather-wrap {
  display: grid;
  justify-content: center;

  grid-template:
    "temp main-wrap" 1fr
    "desc ." 1fr / 1fr 1fr;
}

.city-lat {
  grid-area: lat;
  font-size: 14px;
  align-self: end;
}

.city-lon {
  grid-area: lon;
  font-size: 14px;
  align-self: start;
}

.location-container {
  padding-bottom: 13px;
  height: 36px;
  display: grid;
  justify-items: stretch;
  gap: 4px;
  grid-template:
    "name . lat" 1fr
    "location . lon" 1fr / 1fr 1fr 1fr;
}

.weather-title {
  font-size: 28px;
  margin-left: 10px;
  margin: 0 0 10px 10px;
}

.other-info {
  font-weight: 300;
  height: min-content;
  border-left: 3px solid rgba(255, 255, 255, 0.4);
  padding-left: 7px;
}

.desc-wrap {
  grid-area: desc;
  display: grid;
  grid-template:
    "icon main-weather" 8fr
    "icon detail" 7fr / 1fr 2fr;
}

.weather-icon {
  grid-area: icon;
  height: 75px;
  width: 75px;
  align-self: center;
}

.desc-main {
  grid-area: main-weather;
  align-self: end;
  font-size: 24px;
}

.desc-detail {
  grid-area: detail;
  align-self: start;
  font-size: 14px;
}

.main-wrap {
  font-weight: 300;
  grid-area: main-wrap;
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  font-size: 16px;
  padding-left: 10px;
}

.temp {
  grid-area: temp;
  margin-left: 8px;
  font-size: 64px;
  align-self: center;
  justify-self: start;
  font-weight: 700;
}

.min-temp {
  grid-area: min;
}

.max-temp {
  grid-area: max;
}

form {
  display: flex;
  margin: 10px;
}

#search {
  border: none;
  padding: 15px;
  width: 440px;
  height: 32px;
  box-sizing: border-box;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search:focus {
  box-sizing: border-box;
  border: 1px solid #f25d45;
  outline: none;
}

#submit {
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  width: 75px;
  margin: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f25d45;
  color: #ffeaea;
}

#submit:hover {
  background-color: #ff6d57;
}

.attribution {
  font-size: 14px;
  color: white;
  position: absolute;
  right: 2px;
  bottom: 0px;
  backdrop-filter: blur(10px) invert(15%);
  padding: 3px;
}

.attribution a {
  color: white;
}

.error-text {
  font-weight: 400;
  font-style: italic;
}

.error-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
